name: Docs to PDF

on:
  push:
    tags:
    - 'v*'
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build_pdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install md-to-pdf
        run: |-
          npm install -g md-to-pdf

      - name: Build using md-to-pdf
        run: |-
          cat index_pdf.md pages/*.md | md-to-pdf --launch-options '{ "args": ["--no-sandbox"] }' > linux-cheatsheet.pdf

      - name: Upload artifact
        if: "!startsWith(github.ref, 'refs/tags/v')"
        uses: actions/upload-artifact@v5
        with:
          name: linux-cheatsheet.pdf
          path: linux-cheatsheet.pdf
          
      - name: Attach to release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            linux-cheatsheet.pdf
